<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="js/vue.js"></script>
    <!-- 官网提供的axios在线地址 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="skyKnow">
        <div class="logo">Crow·查天气</div>
        <div class="nav">
            <input type="text" placeholder="请输入查询城市" @keydown.enter="searching" @focus="onFocus" v-model="city"><button
                @click="searching">搜索</button>
        </div>
        <ul class="clcNav">
            <li v-for="(item,index) in cities"><a href="javascript:;" @click="clickSearch(index)" v-cloak>{{item}}</a>
            </li>

        </ul>
        <div class="cityName">{{topCity}}</div>
        <ul class="weather">
            <li v-for="wthr in weatherList">
                <div class="type">{{wthr.type}}</div>
                <div class="tem">{{wthr.low.substr(3)}}~{{wthr.high.substr(3)}}</div>
                <div class="date">{{wthr.date}}</div>
                <div class="wind-p">风力：{{wthr.fengli.substr(9,2)}}</div>
                <div class="wind">风向：{{wthr.fengxiang}}</div>
            </li>
        </ul>
    </div>

    <!-- 自己的js -->
    <script src="js/main.js" type="text/javascript"></script>
</body>

</html>