td {
    color: grey;
}

a {
    text-decoration: none;
}

p {
    text-indent: 2em;
}

.mid {
    text-align: center;
}

div {
    text-align: center;
}

body {
    font: 16px/25px 'Microsoft yahei';
}